@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme{
  --color-background: #FAFAFA;
  --color-primary: #0E0E0E;
  --color-header: #191919;
  --color-accent: #D87D4A;
  --color-secondary: #FBAF85;
  --color-lightGray: #F1F1F1;
  --font-texts: Manrope;

}